.error-white .q-field__bottom {
    // --q-negative: #ffffff;
}

.body--light {
}

.body--dark {
    background: $dark-page;
}

.q-menu--dark {
    box-shadow: none;
}

.color-foreground-text {
    color: $color-foreground-text;
}

.primary-hover {
    :hover {
        background: #494e52;
    }
}

.bg-menu {
    background: $menu;
}

.bg-card {
    background: $card;
}
