.error-white .q-field__bottom {
    // --q-negative: #ffffff;
}

.body--light {
}

.body--dark {
    background: $dark-page;
}

.q-menu--dark {
    box-shadow: none;
}

.color-foreground-text {
    color: $color-foreground-text;
}

.primary-hover {
    :hover {
        background: #494e52;
    }
}

.bg-menu {
    background: $menu;
}

.bg-card {
    background: $card;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.full-popup {
    background: $dark-opacity;
    transition: opacity .5s;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .q-popup-edit__buttons button {
        font-weight: bold;
    }
}

.hover-lighten {
    &:hover {
        transition: ease-in-out .3s;
        background: rgba(255, 255, 255, 0.04);
    }

    :hover {
        cursor: pointer;
    }
}
