// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary       : #0098ff;
$primary-hover : #19a0fd;
$secondary     : #ffffff;
$accent        : #8e24aa;

$card          : #353a3e;
$menu          : #2d3033;
$dark          : #1d1d1d;
$dark-page     : #1c1c1e;

$positive      : #3ebf4d;
$negative      : #fb472e;
$info          : #05c2e7;
$warning       : #ff8500;

$color-foreground-text: #fff;

